doctype html
html(lang="en")
  head
    title pug for Cognify
  body
    h1 Welcome to Cognify
    p Name: #{name}
    p Email: #{email}
    h5 Your application is under review!!! Thank you for submitting the form!
    a(href="/") Go Back to Form
